@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

$color_white: #FFFFFF;
$color_black: #000000;
$color_gray: #454545;
$color_brown: #B97F5C;

@mixin breakpoint($point) {
    // Desktop HIDPI
    @if $point == large {
        @media (max-width: 1920px) {@content;}
    }
    // Desktop HIDPI
    @else if $point == medium {
        @media (max-width: 1440px) {@content;}
    }
    // Tablet
    @else if $point == tabletLandscape {
        @media (max-width: 1080px) {@content;}
    }
    @else if $point == tabletPortrait {
        @media (max-width: 1080px) and (orientation: portrait), (max-width: 926px) and (orientation: landscape), (max-width: 428px) and (orientation: portrait) {@content;}
    }
    // Mobile
    @else if $point == mobile {
        @media (max-width: 926px) and (orientation: landscape), (max-width: 428px) and (orientation: portrait) {@content;}
    }
}

/*================================================================================
CSS Reset
================================================================================*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

:focus {
    outline: 0;
}

textarea {
    overflow: auto;
    resize: none;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

/*================================================================================
Typography
================================================================================*/

/*
100 Thin (Hairline)
200 Extra Light (Ultra Light)
300 Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold
800 Extra Bold (Ultra Bold)
900 Black (Heavy)
*/

@font-face {
    font-family: "Karla";
    src: url('/static/fonts/Karla-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Karla";
    src: url('/static/fonts/Karla-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DIN";
    src: url('/static/fonts/DIN-2014.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('/static/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: $color_gray;
}

p {
    margin: 0 0 15px;
    &:last-of-type {
        margin-bottom: 0;
        + {
            ul, ol {
                margin-top: 15px;
            }
        }
    }
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    margin: 0 0 15px 24px;
    &:last-of-type {
        margin-bottom: 0;
        + p {
            margin-top: 15px;
        }
    }
}

li {
    margin: 0 0 5px;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: underline;
}

/*================================================================================
Structure
================================================================================*/

html,
body {
    background: $color_white;
}

.container {
    width: 100%;
    max-width: calc(1170px + 15px * 2);
    margin: 0 auto;
    padding: 0 15px;
}

header {
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .contact {
        font-size: 30px * .9;
        line-height: 1.1;
        div:not(:last-child) {
            margin: 0 0 10px;
        }
        a {
            text-decoration: none;
        }
        .phone {
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 26px;
                height: 26px;
                background: url('../static/images/phone.svg') no-repeat 50% 50%/contain;
                position: absolute;
                left: -36px;
                top: 3px;
            }
        }
        .email {
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 26px;
                height: 26px;
                background: url('../static/images/email.svg') no-repeat 50% 50%/contain;
                position: absolute;
                left: -36px;
                top: 3px;
            }
        }
    }
    .logo {
        display: block;
        width: 240px;
        font-family: "DIN";
        font-size: 55px * .9;
        line-height: 1.1;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        span {
            display: block;
            margin: 5px 0 0;
            font-size: 23px * .9;
            color: $color_brown;
        }
    }
    nav {
        background: $color_gray;
        padding: 15px 0;
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style: none;
            margin: 0 0 0 -30px;
            li {
                margin: 0;
                padding: 0 0 0 30px;
            }
            a {
                display: inline-block;
                font-size: 30px * .9;
                text-decoration: none;
                color: $color_white;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
    }
}

footer {
    padding: 40px 0 60px;
    background: $color_gray;
    color: $color_white;
    .top {
        display: flex;
        justify-content: space-between;
        nav {
            padding: 0 0 0 30px;
            text-align: right;
            ul {
                list-style: none;
                margin: 0 0 0 -20px;
                li {
                    display: inline-block;
                    margin: 0;
                    padding: 0 0 0 20px;
                }
                a {
                    display: inline-block;
                    font-size: 30px * .9;
                    text-decoration: none;
                    color: $color_white;
                    text-transform: uppercase;
                    white-space: nowrap;
                }
            }
        }
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 40px 0 0;
    }
    .logo {
        display: block;
        width: 240px;
        font-family: "DIN";
        font-size: 55px * .9;
        line-height: 1.1;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        span {
            display: block;
            margin: 5px 0 0;
            font-size: 23px * .9;
            color: $color_brown;
        }
    }
    .contact {
        font-size: 30px * .9;
        line-height: 1.1;
        div:not(:last-child) {
            margin: 0 0 10px;
        }
        a {
            text-decoration: none;
        }
        .phone {
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 26px;
                height: 26px;
                background: url('../static/images/phone.svg') no-repeat 50% 50%/contain;
                position: absolute;
                left: -36px;
                top: 3px;
            }
        }
        .email {
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 26px;
                height: 26px;
                background: url('../static/images/email.svg') no-repeat 50% 50%/contain;
                position: absolute;
                left: -36px;
                top: 3px;
            }
        }
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        width: 40px * 3 + 60px;
        height: 40px * 2 + 40px;
        margin: -20px 0 0 -20px;
        a {
            display: block;
            width: 40px;
            height: 40px;
            background: no-repeat 50% 50%/contain;
            margin: 20px 0 0 20px;
        }
        a[aria-label="Facebook"] {
            background-image: url('../static/images/social-facebook.png');
        }
        a[aria-label="Instagram"] {
            background-image: url('../static/images/social-instagram.png');
        }
        a[aria-label="Twitter"] {
            background-image: url('../static/images/social-twitter.png');
        }
        a[aria-label="Linkedin"] {
            background-image: url('../static/images/social-linkedin.png');
        }
        a[aria-label="IMDB"] {
            background-image: url('../static/images/social-imdb.png');
        }
        a[aria-label="Vimeo"] {
            background-image: url('../static/images/social-vimeo.png');
        }
    }
}

section.hero {
    display: flex;
    align-items: flex-end;
    height: 680px;
    padding: 0 0 30px;
    background: url('../static/images/hero.jpg') no-repeat 50% 50%/cover;
    text-align: center;
    color: $color_white;
    h1 {
        font-family: "Montserrat";
        font-size: 40px * .9;
        line-height: 1.1;
        text-transform: uppercase;
    }
    .text {
        max-width: 800px;
        margin: 15px auto 0;
        font-size: 26px * .9;
    }
}

section.intro {
    padding: 30px 0;
    p {
        font-size: 26px * .9;
    }
}

section.testimonials {
    color: $color_white;
    .top {
        background: #454545;
        padding: 30px 0 0;
        .testimonial-title {
            margin: 0 0 15px;
            font-family: "Montserrat";
            font-size: 40px * .9;
            line-height: 1.1;
            text-transform: uppercase;
            text-align: center;
        }
        .slider-wrap {
            position: relative;
            &:before,
            &:after {
                display: block;
                font-family: "Montserrat";
                font-size: 90px;
                line-height: 1;
                color: $color_brown;
                position: absolute;
                top: -35px;
            }
            &:before {
                content: "“";
                left: 0;
            }
            &:after {
                content: "“";
                right: 0;
            }
            .tns-outer {
                position: relative;
                .tns-controls {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    [data-controls="prev"],
                    [data-controls="next"] {
                        position: relative;
                        z-index: 2;
                        background: transparent;
                        border: 0;
                        border-radius: 0in;
                        pointer-events: auto;
                        font-family: "Karla";
                        font-size: 30px * .9;
                        line-height: 1.2;
                        color: $color_white;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                    }
                }
            }
        }
        .slider {
            position: relative;
            .item {
                padding: 0 50px;
                text-align: center;
                transform: translate3d(0,0,0);
            }
            .quote {
                font-size: 26px * .9;
                font-style: italic;
            }
            .cite {
                margin: 15px 0 0;
                font-size: 26px * .9;
            }
        }
        .grid-images {
            display: flex;
            margin: 30px 0 0;
            .column {
                width: 33.3333%;
                .img {
                    height: 0fr;
                    padding-bottom: 75%;
                    background: no-repeat 50% 50%/cover;
                }
                &:nth-child(1) .img {
                    background-image: url('../static/images/office-1.jpg');
                }
                &:nth-child(2) .img {
                    background-image: url('../static/images/office-2.jpg');
                }
                &:nth-child(3) .img {
                    background-image: url('../static/images/office-3.jpg');
                }
            }
        }
    }
    .bottom {
        background: linear-gradient(0deg, rgba(107,107,107,1) 0%, rgba(145,145,145,1) 50%, rgba(107,107,107,1) 100%);
        .grid-info {
            display: flex;
            .column {
                width: 33.3333%;
                padding: 30px 15px;
            }
            .title {
                max-width: 320px;
                margin: 0 auto 15px;
                font-family: "Montserrat";
                font-size: 40px * .9;
                line-height: 1.1;
                text-transform: uppercase;
                text-align: center;
            }
            .text {
                margin: 0 0 20px;
                font-size: 26px * .9;
                ul {
                    list-style: none;
                    margin: 0;
                    li {
                        margin: 0 0 10px;
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
            a {
                display: table;
                font-size: 20px * .9;
                line-height: 1.1;
                text-decoration: none;
            }
        }
    }
}

section.contact {
    position: relative;
    margin: 30px 0 60px;
    .row {
        display: flex;
        margin: 0 0 0 -40px;
        .col-1 {
            display: flex;
            align-items: center;
            width: 50%;
            padding: 0 0 0 40px;
        }
        .col-2 {
            width: 50%;
            padding: 0 0 0 40px;
        }
    }
    form {
        .form-title {
            margin: 0 0 20px;
            font-family: "Montserrat";
            font-size: 40px * .9;
            line-height: 1.1;
            text-transform: uppercase;
            text-align: center;
        }
        .input-row {
            display: flex;
            margin: 0 0 0 -30px;
            label {
                width: 50%;
                padding: 0 0 0 30px;
            }
        }
        label {
            display: block;
            margin: 0 0 10px;
            span {
                display: block;
                font-size: 26px * .9;
            }
        }
        input[type="text"],
        input[type="email"] {
            display: block;
            width: 100%;
            height: 40px;
            background: transparent;
            border: 0;
            border-bottom: 2px solid $color_gray;
            border-radius: 0;
            font-size: 26px * .9;
            line-height: 1.2;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        textarea {
            display: block;
            width: 100%;
            height: 40px;
            background: transparent;
            border: 0;
            border-bottom: 2px solid $color_gray;
            border-radius: 0;
            font-size: 26px * .9;
            line-height: 1.2;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        label.checkbox {
            margin: 30px 0 30px 30px;
            font-size: 26px * .9;
            line-height: 1.2;
            input {
                margin: 0 10px 0 0;
            }
        }
        .btn {
            width: 260px;
        }
    }
    .quote {
        height: 100%;
        position: relative;
        z-index: 1;
        padding: 25px 0 25px calc(50% + 30px);
        background: $color_brown;
        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: url('../static/images/expert.jpg') no-repeat 50% 50%/cover;
        }
        .info {
            color: $color_white;
            .text {
                font-family: "Montserrat";
                font-size: 28px * .9;
                line-height: 1.3;
            }
            .cite {
                margin: 20px 0 0;
                font-size: 26px * .9;
            }
        }
    }
    &:before {
        content: "";
        display: block;
        width: calc(50% - 30px);
        height: 100%;
        background: $color_brown;
        position: absolute;
        top: 0;
        right: 0;
    }
}

section.clients {
    display: none;
    .clients-title {
        font-family: "Montserrat";
        font-size: 40px * .9;
        line-height: 1.1;
        text-transform: uppercase;
        text-align: center;
    }
}

.btn {
    display: block;
    width: 390px;
    margin: 15px auto 0;
    padding: 15px;
    background: $color_brown;
    border: 0;
    border-radius: 10px;
    color: $color_white;
    text-align: center;
    text-decoration: none;
    font-size: 30px * .9;
    line-height: 1.1;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}